.tableButton {
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:5px 15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  outline-style: none;
}

.tableButton:active {
	position:relative;
	top:1px;
}

.greenButton {
  background-color: #44c767;
  border: 1px solid #18ab29;
}
.greenButton:hover {
	background-color:#5cbf2a;
}

.redButton {
  background-color: #c74444;
  border: 1px solid #ab1818;
}
.redButton:hover {
	background-color:#bf2a2a;
}

.display-block {
	display: block;
}